<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <handlers>
      <clear/>
      <add name="php-5.4.32" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="D:\Program Files (x86)\Parallels\Plesk\Additional\PleskPHP54\php-cgi.exe" resourceType="Either" requireAccess="Script"/>
      <add name="php-5.2.17" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="D:\Program Files (x86)\Parallels\Plesk\Additional\PleskPHP5\php-cgi.exe" resourceType="Either" requireAccess="Script"/>
      <add name="PageHandlerFactory-Integrated" path="*.aspx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="TraceHandler-Integrated" path="trace.axd" verb="GET,HEAD,POST,DEBUG" type="System.Web.Handlers.TraceHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="WebAdminHandler-Integrated" path="WebAdmin.axd" verb="GET,DEBUG" type="System.Web.Handlers.WebAdminHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="AssemblyResourceLoader-Integrated" path="WebResource.axd" verb="GET,DEBUG" type="System.Web.Handlers.AssemblyResourceLoader" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="SimpleHandlerFactory-Integrated" path="*.ashx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.SimpleHandlerFactory" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="WebServiceHandlerFactory-Integrated" path="*.asmx" verb="GET,HEAD,POST,DEBUG" type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="HttpRemotingHandlerFactory-rem-Integrated" path="*.rem" verb="GET,HEAD,POST,DEBUG" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="HttpRemotingHandlerFactory-soap-Integrated" path=".soap" verb="GET,HEAD,POST,DEBUG" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="Perl-CGI-cgi" path="*.cgi" verb="GET,HEAD,POST" modules="CgiModule" scriptProcessor="D:\Program Files (x86)\Parallels\Plesk\Additional\Perl\bin\perl.exe &quot;%s&quot; %s" resourceType="Either"/>
      <add name="Perl-CGI-pl" path="*.pl" verb="GET,HEAD,POST" modules="CgiModule" scriptProcessor="D:\Program Files (x86)\Parallels\Plesk\Additional\Perl\bin\perl.exe &quot;%s&quot; %s" resourceType="Either"/>
      <add name="Perl-ISAPI-plx" path="*.plx" verb="GET,HEAD,POST" modules="IsapiModule" scriptProcessor="D:\Program Files (x86)\Parallels\Plesk\Additional\Perl\bin\perlis.dll" resourceType="Either"/>
      <add name="Python-py" path="*.py" verb="*" modules="CgiModule" scriptProcessor="D:\Program Files (x86)\Parallels\Plesk\Additional\Python\python.exe -u &quot;%s&quot; %s" resourceType="Either"/>
      <add name="ISAPI-dll" path="*.dll" verb="*" modules="IsapiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true"/>
      <add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true"/>
      <add name="TRACEVerbHandler" path="*" verb="TRACE" modules="ProtocolSupportModule" resourceType="Unspecified" requireAccess="None"/>
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read"/>
    </handlers>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Index.html"/>
        <add value="Index.htm"/>
        <add value="Index.cfm"/>
        <add value="Index.shtml"/>
        <add value="Index.shtm"/>
        <add value="Index.stm"/>
        <add value="Index.php"/>
        <add value="Index.php3"/>
        <add value="Index.asp"/>
        <add value="Index.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>